* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: #000;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    padding: 0 1rem;
    min-height: 4rem;
    justify-content: space-around;
    align-items: center;
}

figure {
    width: 60vw;
}

img {
    height: auto;
    max-width: 100%;
    width: 24rem;
    margin-left: 1.6rem;
}

#nav-ul {
    display: flex;
    justify-content: center;
    padding-top: 0.2rem;
    width: 35vw;
    gap: 8rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}