body {
    margin: 0;
    padding: 0.8rem;
    background-color: #fafafa;
    color: #000;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 98%;
    min-height: 4rem;
    justify-content: space-around;
    align-items: center;
}

figure {
    margin: 0 auto 0 0;
}

#nav-ul {
    display: flex;
    gap: 1rem;
}

ul {
    list-style: none;
    padding: 0;
}